MONGO_URI=mongodb://mongo_usp:27017
NATS_URL=nats://__NATS_USER__:__NATS_PW__@msg_broker:4222
NATS_ENABLE_TLS="true"
CLIENT_CRT=/tmp/nats/config/cert.pem
CLIENT_KEY=/tmp/nats/config/key.pem
SERVER_CA=/tmp/nats/config/rootCA.pem
FIRMWARE_UPLOAD_URL=http://firmware-upload:8006
SECRET_API_KEY=__JWT_SECRET__
CAMPAIGN_SCHEDULER_ENABLED=true
CAMPAIGN_SCHEDULER_INTERVAL_SEC=60
LOCK_REDIS_ENABLED=false
LOCK_REDIS_URL=redis://redis:6379/0
LOCK_KAFKA_ENABLED=false
LOCK_KAFKA_BROKERS=kafka:9092
LOCK_KAFKA_AUDIT_TOPIC=ont-lock-audit
LOCK_GREENPLUM_ENABLED=false
LOCK_GREENPLUM_DSN=postgres://postgres:postgres@greenplum:5432/ont_lock?sslmode=disable
LOCK_RETRY_SCHEDULER_ENABLED=true
LOCK_RETRY_SCHEDULER_INTERVAL_SEC=30
LOCK_COMMAND_TIMEOUT_SEC=30
LOCK_COMMAND_MAX_ATTEMPTS=10
